# Core dependencies
fastapi==0.104.1
uvicorn[standard]==0.24.0
websockets==12.0
python-dotenv==1.0.0
pydantic==2.5.0
pydantic-settings==2.1.0

# JWT for authentication
python-jose[cryptography]==3.3.0

# HTTP client
httpx==0.25.2

aio-pika
psycopg[binary]  # if using psycopg
asyncpg
aiohttp==3.9.5
redis==5.0.1
SQLAlchemy==2.0.23